/********************************
Filename: main.js
Author: Marcos Zorzi Rosa
Description: 
Date: 
*********************************/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::after,
*::before{
    /* pseudo-elements */
    box-sizing: inherit;
}
html{
    font-size: 16px;
    font-family: 'web font', 'osx fallback', 'win fallback', sans-serif;
    line-height: 1.5;
}
header{
    padding:1rem 2rem;
}
nav{
    padding:1rem 2rem;
}
main{
    padding:1rem 2rem;
}
section{
    padding:1rem 2rem;
}
aside{
    padding:1rem 2rem;
}
footer{
    padding:1rem 2rem;
}